
@{
    Layout = null;
}
<head>
    <style>
        .watermark_text {
            width: 100%;
            color: #d0d0d0;
            font-size: 5.5em;
            text-align: center;
            margin: 0 auto;
            z-index: 10000;
            /*opacity: 0.2;*/
            /*filter: alpha(opacity=15);*/
            white-space: normal;
            word-wrap: break-word !important;
            overflow: visible;
        }

        .watermark {
            display: block;
            z-index: 99999;
            width: 86%;
            position: absolute;
            opacity: 0.2;
            filter: alpha(opacity=15);
            
        }

            .watermark img {
                opacity: 0.2;
                filter: alpha(opacity=15);
                text-align: center !important;
            }
    </style>
</head>
<div class="watermark" style="background-image: url('../../indir.png');">
    <div>
       
    </div>
    <div>
        <p><b>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel justo cursus leo molestie semper. Nam lobortis ac arcu facilisis sagittis. Fusce luctus, massa in lacinia ornare, risus metus pulvinar est, euismod feugiat felis ipsum vel lacus. Fusce elementum sapien ut laoreet pharetra. Nam pretium dui sit amet eros blandit rhoncus. Praesent dictum auctor congue. Duis mattis metus non sem egestas ullamcorper. Quisque convallis facilisis nulla non sodales. In elementum, quam quis varius luctus, dolor nunc cursus quam, placerat suscipit mauris felis ac eros. Vestibulum tortor nulla, hendrerit nec aliquam non, ullamcorper sed dolor. Aliquam varius velit turpis.

    Cras a elit id enim mattis ultrices. Suspendisse maximus orci lacus, in interdum augue tincidunt nec. Maecenas a ligula iaculis, aliquet quam eu, auctor libero. Praesent quis lacus elit. Etiam est erat, molestie eu elit ac, gravida pretium nisi. Proin mauris nisl, pulvinar sit amet pharetra eu, ullamcorper eu mi. Ut dapibus, dolor sed scelerisque scelerisque, turpis sem hendrerit nibh, a suscipit nulla ante quis urna. Nunc id auctor risus. Morbi rutrum placerat enim ac aliquet.

    Mauris non libero elementum, lobortis tortor in, sollicitudin nibh. Morbi luctus augue in dui vulputate tempor. In vehicula arcu ac lectus pellentesque ultricies. Vestibulum orci lorem, egestas id mattis vel, interdum sed purus. Ut id sapien tortor. Vestibulum finibus scelerisque purus in varius. Maecenas porta pellentesque vestibulum. Vivamus nec luctus tellus, sed commodo dui. Duis magna mauris, ullamcorper in neque pellentesque, lacinia aliquet massa.

    Aenean metus elit, tincidunt ut turpis ac, eleifend blandit dolor. Donec varius lacus sit amet sem faucibus bibendum. Sed augue risus, venenatis non pellentesque vitae, posuere et nisl. Curabitur placerat ligula id nunc volutpat, eu accumsan elit ornare. Praesent non ullamcorper nunc. Sed sem augue, tincidunt et mi eget, malesuada finibus neque. Fusce scelerisque justo et nisl elementum, a tempus tellus semper. Praesent vehicula augue lacus, vel porttitor urna accumsan ut. Curabitur commodo erat at faucibus scelerisque.

    Nam maximus feugiat risus et luctus. Pellentesque eget ultrices odio, eget scelerisque ligula. Praesent quis justo tristique, scelerisque sem at, lobortis est. Proin et enim in nunc blandit iaculis non sit amet risus. Ut commodo ligula et lectus ultricies tempor. Pellentesque egestas ultricies ligula, sed mollis purus euismod non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus tincidunt iaculis suscipit. Cras sed lacinia lorem. Mauris sagittis felis quis lacus feugiat gravida.

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel justo cursus leo molestie semper. Nam lobortis ac arcu facilisis sagittis. Fusce luctus, massa in lacinia ornare, risus metus pulvinar est, euismod feugiat felis ipsum vel lacus. Fusce elementum sapien ut laoreet pharetra. Nam pretium dui sit amet eros blandit rhoncus. Praesent dictum auctor congue. Duis mattis metus non sem egestas ullamcorper. Quisque convallis facilisis nulla non sodales. In elementum, quam quis varius luctus, dolor nunc cursus quam, placerat suscipit mauris felis ac eros. Vestibulum tortor nulla, hendrerit nec aliquam non, ullamcorper sed dolor. Aliquam varius velit turpis.

    Cras a elit id enim mattis ultrices. Suspendisse maximus orci lacus, in interdum augue tincidunt nec. Maecenas a ligula iaculis, aliquet quam eu, auctor libero. Praesent quis lacus elit. Etiam est erat, molestie eu elit ac, gravida pretium nisi. Proin mauris nisl, pulvinar sit amet pharetra eu, ullamcorper eu mi. Ut dapibus, dolor sed scelerisque scelerisque, turpis sem hendrerit nibh, a suscipit nulla ante quis urna. Nunc id auctor risus. Morbi rutrum placerat enim ac aliquet.

    Mauris non libero elementum, lobortis tortor in, sollicitudin nibh. Morbi luctus augue in dui vulputate tempor. In vehicula arcu ac lectus pellentesque ultricies. Vestibulum orci lorem, egestas id mattis vel, interdum sed purus. Ut id sapien tortor. Vestibulum finibus scelerisque purus in varius. Maecenas porta pellentesque vestibulum. Vivamus nec luctus tellus, sed commodo dui. Duis magna mauris, ullamcorper in neque pellentesque, lacinia aliquet massa.

    Aenean metus elit, tincidunt ut turpis ac, eleifend blandit dolor. Donec varius lacus sit amet sem faucibus bibendum. Sed augue risus, venenatis non pellentesque vitae, posuere et nisl. Curabitur placerat ligula id nunc volutpat, eu accumsan elit ornare. Praesent non ullamcorper nunc. Sed sem augue, tincidunt et mi eget, malesuada finibus neque. Fusce scelerisque justo et nisl elementum, a tempus tellus semper. Praesent vehicula augue lacus, vel porttitor urna accumsan ut. Curabitur commodo erat at faucibus scelerisque.

    Nam maximus feugiat risus et luctus. Pellentesque eget ultrices odio, eget scelerisque ligula. Praesent quis justo tristique, scelerisque sem at, lobortis est. Proin et enim in nunc blandit iaculis non sit amet risus. Ut commodo ligula et lectus ultricies tempor. Pellentesque egestas ultricies ligula, sed mollis purus euismod non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus tincidunt iaculis suscipit. Cras sed lacinia lorem. Mauris sagittis felis quis lacus feugiat gravida.
</b> </p>
    </div>

    <input type="button" value="Pdf Görüntüle" onclick="location.href= '@Url.Action("GeneratePdf")'" />
</div>



